[defaults]
nocows = true  # disable default cow ascii art
force_color = true  # forces colors for TTYs without color support
home = /opt/onesetup
roles_path = ./roles:/etc/ansible/roles
inventory = ./inventory.ini  # inventory file to specify hosts
vault_password_file = /opt/onevault/onesetup.secret
become_password_file = /opt/onevault/sudo.secret

[privilege_escalation]
become_user = "root"
become = true  # enable sudo privilege escalation

[colors]
debug = "purple"
console_prompt = "white"
deprecate = "purple"
diff_add = "green"
diff_lines = "cyan"
diff_remove = "red"
error = "red"
highlight = "gray"
ok = "green"
changed = "purple"
skip = "cyan"
unreachable = "red"
verbose = "blue"
warn = "yellow"
